<h1 align="center"> ניהול כתבות</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr align="center">
                        <th scope="col">#</th>
                        <th scope="col">כותרת</th>
                        <th scope="col">פעולות</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each postsDB}}
                    <form action="/posts/edit/:id" method="post">
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{title}}</td>
                            <td>
                                <input type="hidden" name="id" value="{{id}}">
                                <button type="submit" class="btn btn-success" name="edit"><i
                                        class="fas fa-edit"></i></button>
                                <button type="submit" class="btn btn-danger" name="delete"
                                    formaction="/posts/delete/:id"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </form>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div align="center"><a href="/posts/new" type="button" class="btn btn-secondary"><i class="fas fa-plus"></i>הוסף
        כתבה</a>
    <a href="/" type="button" class="btn btn-secondary"><i class="fas fa-home"></i></i> ראשי</a>
</div>