<div align="center">
    <img src="{{picture}}" alt="" height="auto" width="500">
    <h4 class="card-title" align="center">{{title}} </h4>
</div>
<div class="container">
    <p class="card-text" dir="rtl">{{textstory}} </p>
</div>